
.cal_Theme1 .ajax__calendar_container {
    background-color: #e2e2e2;
    border: solid 1px #cccccc;
}

.cal_Theme1 .ajax__calendar_header {
    background-color: #ffffff;
    margin-bottom: 4px;
}

.cal_Theme1 .ajax__calendar_title, .cal_Theme1 .ajax__calendar_next, .cal_Theme1 .ajax__calendar_prev {
    color: #004080;
    padding-top: 3px;
}

.cal_Theme1 .ajax__calendar_body {
    width: 15em;
    height: 12em;
    background-color: #ffffff;
    border: solid 1px #cccccc;
}

.cal_Theme1 .ajax__calendar_dayname {
    text-align: center;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 2px;
}

.cal_Theme1 .ajax__calendar_day {
    text-align: center;
}

.cal_Theme1 .ajax__calendar_hover .ajax__calendar_day, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_month, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_year, .cal_Theme1 .ajax__calendar_active {
    color: #004080;
    font-weight: bold;
    background-color: #ffffff;
}

.cal_Theme1 .ajax__calendar_today {
    font-weight: bold;
}

.cal_Theme1 .ajax__calendar_other, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_today, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_title {
    color: #bbbbbb;
}

.cal_Theme2 .ajax__calendar_container {
    background-color: #e2e2e2;
    border: solid 1px #cccccc;
}

.cal_Theme2 .ajax__calendar_header {
    background-color: #ffffff;
    margin-bottom: 4px;
}

.cal_Theme2 .ajax__calendar_title, .cal_Theme2 .ajax__calendar_next, .cal_Theme2 .ajax__calendar_prev {
    color: #004080;
    padding-top: 3px;
}

.cal_Theme2 .ajax__calendar_body {
    width: 21em;
    height: 15em;
    background-color: #ffffff;
    border: solid 1px #cccccc;
}

.cal_Theme2 .ajax__calendar_dayname {
    text-align: center;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 2px;
}

.cal_Theme2 .ajax__calendar_day {
    text-align: center;
}

.cal_Theme2 .ajax__calendar_hover .ajax__calendar_day, .cal_Theme2 .ajax__calendar_hover .ajax__calendar_month, .cal_Theme2 .ajax__calendar_hover .ajax__calendar_year, .cal_Theme2 .ajax__calendar_active {
    color: #004080;
    font-weight: bold;
    background-color: #ffffff;
}

.cal_Theme2 .ajax__calendar_today {
    font-weight: bold;
}

.cal_Theme2 .ajax__calendar_other, .cal_Theme2 .ajax__calendar_hover .ajax__calendar_today, .cal_Theme2 .ajax__calendar_hover .ajax__calendar_title {
    color: #bbbbbb;
}

body {
    font-family: Arial;
    font-size: 10pt;
}

.ErrorControl {
    background-color: #FBE3E4;
    border: solid 1px Red;
}

.Background {
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}

.Popup {
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    width: 600px;
    height: 450px;
}

.lbl {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}
