<?xml version="1.0"?><!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  --><configuration><configSections><sectionGroup name="businessObjects"><sectionGroup name="crystalReports"><section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/></sectionGroup></sectionGroup></configSections>
  <connectionStrings>
    <add name="Sql" connectionString="Server=UNKNOWN\SQLEXPRESS;initial catalog=store;integrated security=yes;" providerName="System.Data.SqlClient"/>
    <add name="StoreConnection" connectionString="Server=UNKNOWN\SQLEXPRESS;initial catalog=store;integrated security=yes;" providerName="System.Data.SqlClient"/>
    <add name="MainConnection" connectionString="Server=UNKNOWN\SQLEXPRESS;initial catalog=Main;integrated security=yes;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" slidingExpiration="true"></forms>
    </authentication>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
         </assemblies>
    <buildProviders><add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></buildProviders></compilation>
    <httpRuntime targetFramework="4.5"/>
  <httpHandlers><add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></httpHandlers></system.web>
  <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
      <add key="CrystalImageCleaner-AutoStart" value="true" />
      <add key="CrystalImageCleaner-Sleep" value="60000" />
      <add key="CrystalImageCleaner-Age" value="120000" />
      <add key="AppName" value="INVENTORY MANAGEMENT SYSTEM" />
      <add key="Institute" value="ABC INSTITUTE" />
      <add key="InstituteAddress" value="INSTITUTE ADDRESS" />
      <add key="InstituteContactNo" value="INSTITUTE CONTACT NO" />
    

  </appSettings>
<businessObjects><crystalReports><rptBuildProvider><add embedRptInResource="true"/></rptBuildProvider></crystalReports></businessObjects><system.webServer><handlers><add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/></handlers><validation validateIntegratedModeConfiguration="false"/></system.webServer></configuration>